<main>
    <div class="fondo">
        <div class="conten-chat">
            <h3 class="titulo-chat">Chat Online</h3>
            <div class="online-chat">
                <form action="http://localhost:8080/api/chat" method="post" id="form-chat" class="form-chat">
                    <div class="chat" id="realTime">
                        <ul id="ulmessages"></ul>
                    </div>
                    <div class="input-chat">
                        <input class="area-chat" id="input-chat" placeholder="Chat Online" name="message"
                            type="text"></input>
                        <button type="submit" class="submit-chat">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>